@font-face {
	font-family: "Roboto Light";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url("fonts/Roboto-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Light Italic";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url("fonts/Roboto-LightItalic.ttf") format('truetype');
}

body{
  font-family: 'Roboto Light', sans-serif;
  font-style:italic;
  font-weight:bold;
  
}

#navList{


  height:30px;
  margin-left:auto;
  margin-right:auto;
  background-color: #1bc7e5;
  text-align:center;
  padding-top:10px;
  padding-right:40px;



}
h1{
  width:960px;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  background-color: #1bc7e5;
  text-align:center;
  padding-bottom:8px;

}

li.navLi{
  display:inline;
  margin:10px;
  font-size:15px;

}

body{
  background-image:url("Images/Background.jpg");
  background-repeat:repeat;

}

.content{
  width:960px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:block;

  margin-top:-20px;


}

#links{
  width:960px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  display:block;
  background-color:#1bc7e5;
  padding-top:2px;
  padding-bottom:15px;
  height:100px;
  margin-top:50px;


}

#linkList{
  list-style-position:inside;
  text-align:left;
  margin-left:auto;
  margin-right:auto;
  border-style:dashed;
  border-color:blue;
  width:300px;

}

#nav{
  width:960px;
  height:30px;
  margin-left:auto;
  margin-right:auto;
  background-color:#1bc7e5;
  text-align:left;
}

canvas{

}
